[Unit]
WantedBy=multi-user.target
Description=Prometheus MQTT Push Gateway
After=network.target

[Service]
Environment=PYTHONIOENCODING=utf-8
WorkingDirectory=/opt/mqtt-pushgateway
ExecStart=/opt/mqtt-pushgateway/mqtt-pushgateway.py
User=prometheus

[Install]
WantedBy=multi-user.target
